main-body{
  width: 100%;
}

.main-container{
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid rgb(224, 223, 223);
}
.main-right-container{
  display: flex;
  width: 100%;
}

.my-sidebar{
  height: 500px;
}


.my-post{
  max-height: auto;
  min-height: 200px;
  margin: auto;
}

.my-footer{
  margin: 0;
  padding: 0;
  width: 100%;
}